.cnp-popup a {
    width: 230px;
    display: block;
    margin: 0 auto;
}

.c-label > input[type="checkbox"] + label::before{
    bottom: 2px;
    position: relative;
}

.fi-mob {
    display: none !important;
}

.fi-desk {
    display: block !important;
}

@media (max-width: 1199px) {
    .fi-mob {
        display: block !important;
    }

    .fi-desk {
        display: none !important;
    }
    .h3-popup-bott-mob {
        margin-bottom: 15px;
    }
    .mw11{
        max-width: 170px;
    }
    .mh11 {
        min-height: 315px;
    }
}