.c-container{
    display: inline-block;
}
@media (max-width: 1199px){
    .c-container{
        min-width: 0 !important;
    }

    .page.directory .c-container.c-mob-btn1 .c-btn{
        padding: 0 12px;
    }

    .page .top-blog .c-container.c-mob-btn1{
        width: 100%;
    }
}
.c-btn{
    background: #44c735;
    border-radius: 5px;
    display: block;
    text-decoration: none !important;
    text-transform: uppercase;
    cursor: pointer;
}
.c-container:hover .c-btn{
    background: #f48f23;
    box-shadow: 10px 10px 15px 1px rgba(100,100,100,0.1);
}
.c-top {
    padding: 13px 30px 5px;
    border-bottom: 1px solid #34b924;
    color: white;
    text-align: center;
    font-size: 18px;
}
@media (max-width: 1199px){
    .c-top {
        padding: 10px;
        font-size: 14px;
    }
}
.c-container:hover .c-top {
    border-bottom: 1px solid #e57f12;
}
.c-bott {
    padding: 5px 10px;
    border-top: 1px solid #52d643;
    text-align: center;
    color: white;
    font-size: 15px;
    opacity: 0.8;
}
@media (max-width: 1199px){
    .c-bott {
        padding: 7px 10px;
    }
}
.c-container:hover .c-bott {
    border-top: 1px solid #ff9e37;
}

.c-bott i.icon {
    font-size: 11px;
    display: inline-block;
    line-height: 15px;
    margin-left: 15px;
    color: #fff !important;
}
@media (max-width: 1199px){
    .c-bott i.icon {
        margin-left: 3px;
        margin-right: 3px;
        vertical-align: 1px;
    }
}

.c-top i.icon.flaticon-arrow-pointing-to-right {
    font-size: 11px;
    display: inline-block;
    line-height: 15px;
    margin-left: 0;
    margin-right: 0;
    color: #fff !important;
    padding-top: 0;
    vertical-align: 2px;
}

.c-form-butt.c-form-payu {
    width: auto;
    text-align: center;
    margin-left: 20px;
}
@media (max-width: 1199px){
    .c-form-butt.c-form-payu {
        margin-left: 0;
    }
}
.c-hint {
    color: #44c735;
    font-size: 14px;
    line-height: 45px;
    vertical-align: baseline;
    text-align: right;
}
.arrow {
    width: 18px;
    height: 18px;
    display: inline-block;
    background: url("/images/arrow.png");
    vertical-align: calc(-8px);
    margin-right: 5px;
}
.c-container:hover .arrow {
    background-position: 0 -21px;
}
.c-container:hover .c-hint {
    color: #f48f23;
}
@media (max-width: 1199px){
    .gbtn1 {
        min-width: 100% !important;
    }
}
